<html>

<head>
    <title>Chess Player</title>
    <link rel="stylesheet" href="/css/home.css" />
</head>

<body>

    <img src="/images/chess.jpg" alt="poker game" width="250px" height="250" />

    <form class="homePageForm"action="/button-type">

        <button class="homeButton buttonhover" type="button" onclick="alert('This button does nothing.')">Play Chess</button><br><br>
        <button class="homeButton buttonhover" type="reset">Rules</button><br><br>
        <button class="homeButton buttonhover" type="reset">How to Play</button><br><br>
        
    </form>

</body>

</html>