<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chess</title>
    </head>
    <body>
        Landing page

        <ul>
            <li><a href="/">Landing</a></li>
            <li><a href="/auth/sign_up">Sign up</a></li>
            <li><a href="/lobby">Lobby</a></li>
            <li><a href="/games/42">Game 42</a></li>
        </ul>
    </body>

</html>