<html>
    <head>
        <title>Texas Hold Em Baby</title>
        <link rel="stylesheet" href="/css/home.css" />
    </head>
    <body>
        <% if(name === "Babak") { %>
            <p>Hello There!</p>
        <% } else { %>
            <p>Hello <%= name %></p>
        <% } %>

        <img src="/images/Texas_Hold_Em.jpg" alt="poker game" width="250px" height="250"/>
    </body>
</html>