<html>
    <head>
        <title>Chess Player</title>
        <link rel="stylesheet" href="/css/home.css" />
    </head>
    <body>
        <% if(name === "Babak" || name == 'babak') { %>
            <p>Hello There!</p>
        <% } else { %>
            <p>Hello <%= name %></p>
        <% } %>

        <img src="/images/chess.jpg" alt="poker game" width="250px" height="250"/>
    </body>
</html>