<html>

<head>
    <title>Chess</title>
    <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
    <% if(name=== " Babak " || name == 'babak' ) { %>
        <p> Hello Sir!</p>
        <% } else { %>
            <p>Hello <%= name %>
            </p>
            <% } %>

            <img src="/images/chess-pic.jpg" alt="chess"/> 
</body>

</html>